packages:
  yum:
    git: []
    amazon-linux-extras: []
    libjpeg-turbo-devel: []
    libpng-devel: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_pywin32_install:
        command: sudo pip install pywin32==3000


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: back/back/wsgi.py:application