container_commands:
  02_install_venv:
        command: "virtualenv /tmp/back"
        leader_only: true
  03_start_env:
        command: "source /tmp/back/bin/activate"
        leader_only: true
  04_pip_install:
        command: "python3 -m pip install requirements.txt"
        leader_only: true
  04_migate:
        command: "python3 back/manage.py migrate --noinput"
        leader_only: true